// app global css in SCSS form
@font-face {
  font-family: Pacifico;
  src: url(./fonts/Pacifico-Regular.ttf);
}

// declare a class which applies it
.pacifico-font {
  font-family: 'Pacifico' !important;
}
